name: Build/release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ${{ matrix.os }}
    env:
      ELECTRON_BUILDER_HTTP_TIMEOUT: 6000000
      ELECTRON_MIRROR: "https://npmmirror.com/mirrors/electron/"
      GH_TOKEN: ${{ secrets.TOKEN }}
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14(macos-latest) is apple silicon
        os: [macos-latest, windows-latest, macos-13]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Build/release Electron app - Windows
        uses: samuelmeuli/action-electron-builder@v1.6.0
        if: matrix.os == 'windows-latest'
        with:
          # GitHub token, automatically provided to the action
          # (No need to define this secret in the repo settings)
          github_token: ${{ secrets.TOKEN }}
          # If the commit is tagged with a version (e.g. "v1.0.0"),
          # release the app after building
          release: ${{ startsWith(github.ref, 'refs/tags/v') }}
          max_attempts: 5

      - name: Build/release Electron app - MacOS Intel
        uses: samuelmeuli/action-electron-builder@v1.6.0
        if: matrix.os == 'macos-13'
        with:
          args: "--x64"
          # GitHub token, automatically provided to the action
          # (No need to define this secret in the repo settings)
          github_token: ${{ secrets.TOKEN }}

          # If the commit is tagged with a version (e.g. "v1.0.0"),
          # release the app after building
          release: ${{ startsWith(github.ref, 'refs/tags/v') }}

      - name: Build/release Electron app - MacOS Arm
        uses: samuelmeuli/action-electron-builder@v1.6.0
        if: matrix.os == 'macos-latest'
        with:
          args: "--arm64"
          # GitHub token, automatically provided to the action
          # (No need to define this secret in the repo settings)
          github_token: ${{ secrets.TOKEN }}

          # If the commit is tagged with a version (e.g. "v1.0.0"),
          # release the app after building
          release: ${{ startsWith(github.ref, 'refs/tags/v') }}
